/* src/components/App/App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px;
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 600px) {
  .app {
    border-radius: 0;
  }
}
